<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppId</key>
	<string>999999999</string>
	<key>ContactMail</key>
	<string>contact@appsfoundation.com</string>
	<key>RateAppDelayInMinutes</key>
	<string>3</string>
	<key>FlurrySessionID</key>
	<string>AAAAAAAAAAAAAAAAAAAA</string>
</dict>
</plist>
